@import "tailwindcss";

/* font space grotesk */
@font-face {
  font-family: "Space Grotesk";
  src: url("./assets/fonts/space-grotesk/SpaceGrotesk-Light.ttf");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("./assets/fonts/space-grotesk/SpaceGrotesk-Reguler.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("./assets/fonts/space-grotesk/SpaceGrotesk-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("./assets/fonts/space-grotesk/SpaceGrotesk-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("./assets/fonts/space-grotesk/SpaceGrotesk-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

/* fonts DM-sans */
@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/DM-sans/DMSans_18pt-Thin.ttf");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/DM-sans/DMSans_18pt-ExtraLight.ttf");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/DM-sans/DMSans_18pt-Light.ttf");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/DM-sans/DMSans_18pt-Reguler.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/DM-sans/DMSans_18pt-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/DM-sans/DMSans_18pt-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/DM-sans/DMSans_18pt-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/DM-sans/DMSans_18pt-ExtraBold.ttf");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/DM-sans/DMSans_18pt-Black.ttf");
  font-weight: 900;
  font-display: swap;
}

/* space mono */
@font-face {
  font-family: "Space Mono";
  src: url("./assets/fonts/space-mono/SpaceMono-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Space Mono";
  src: url("./assets/fonts/space-mono/SpaceMono-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

@theme {
  --font-title: "Space Grotesk", sans-serif;
  --font-body: "DM Sans", sans-serif;
  --font-label: "Space Mono", monospace;

  /* color */
  /*--color-background: #F5F5F5;*/ /* putih cream gitu */
  --color-background: #f5f5f5; /* putih cream gitu */
  --color-loop: #E8E4D4; /* putih kusam */
  --color-nav-bg: #88d498; /* hijau soft */
  --color-sidebar: #ffd23f; /* kuning soft */
  --color-oren: #ffa552; /* oren soft */
  --color-merah: #ff6b6b; /* merah soft */
  --color-ungu: #B8A9FA; /* ungu soft */
  --color-biru: #74B9FF; /* ungu soft */
  --color-pink: #F7A8C4; /* pink soft */
  --color-bro: #FDF6E3; /* kream soft */
  --color-krim: #FAECC8; /* kream soft */
}

/* loop logo */
.loop {
  width: 100%;
  display: flex;
  overflow-x: auto;
  background: white;
  position: relative;
  border-block: 3px solid black;
}

.loop::-webkit-scrollbar {
  display: none;
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  /* gap: 1px; */
  animation: spin_scroll 45s infinite linear;
  /* padding-right: 1px; */
}

.card {
  flex: 0 0 3em;
  height: 7.5rem;
  padding: 1px;
  /* background: white; */
  /* border-inline: 2px dotted black; */
  font-size: 3.5rem;
  text-align: center;
  justify-items: center;
  align-content: center;
}

.card img {
  filter: grayscale(100%) opacity(0.4);
  transition: filter 0.3s ease;
}

.card img:hover {
  filter: grayscale(0%) opacity(1);
}

@keyframes spin_scroll {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}

.nav-link {
  @apply border-2 border-transparent p-2 transition-all duration-200;
}

.nav-link:hover {
  @apply bg-nav-bg border-black font-bold;
}

.nav-link.active {
  @apply bg-nav-bg border-black font-bold shadow-[5px_5px_0_#000];
}

.nav-link.active:hover {
  @apply bg-nav-bg border-black font-bold shadow-[0_0_0_#000] translate-x-[-5x] translate-y-[-5x];
}

/* grid background tentang saya */
.grid-bg {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.29) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.29) 1px, transparent 1px);
  background-size: 40px 40px;
}

.hero-icon {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-4px); }
}