@import "tailwindcss";

/* font space grotesk */
@font-face {
  font-family: "Space Grotesk";
  src: url("./assets/fonts/space-grotesk/SpaceGrotesk-Light.ttf");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("./assets/fonts/space-grotesk/SpaceGrotesk-Reguler.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("./assets/fonts/space-grotesk/SpaceGrotesk-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("./assets/fonts/space-grotesk/SpaceGrotesk-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("./assets/fonts/space-grotesk/SpaceGrotesk-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

/* fonts DM-sans */
@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/DM-sans/DMSans_18pt-Thin.ttf");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/DM-sans/DMSans_18pt-ExtraLight.ttf");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/DM-sans/DMSans_18pt-Light.ttf");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/DM-sans/DMSans_18pt-Reguler.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/DM-sans/DMSans_18pt-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/DM-sans/DMSans_18pt-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/DM-sans/DMSans_18pt-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/DM-sans/DMSans_18pt-ExtraBold.ttf");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/DM-sans/DMSans_18pt-Black.ttf");
  font-weight: 900;
  font-display: swap;
}

/* space mono */
@font-face {
  font-family: "Space Mono";
  src: url("./assets/fonts/space-mono/SpaceMono-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Space Mono";
  src: url("./assets/fonts/space-mono/SpaceMono-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

@theme {
  --font-title: "Space Grotesk", sans-serif;
  --font-body: "DM Sans", sans-serif;
  --font-label: "Space Mono", monospace;

  /* color */
  --color-background: #fcf9f8; /* putih cream gitu */
  --color-nav-bg: #88d498; /* hijau soft */
  --color-sidebar: #ffd23f; /* kuning soft */
  --color-oren: #FFA552; /* kuning soft */
  --color-merah: #FF6B6B; /* merah soft */
}

.nav-link {
  @apply border-2 border-transparent p-2 transition-all duration-200;
}

.nav-link:hover {
  @apply bg-nav-bg border-black font-bold;
}

.nav-link.active {
  @apply bg-nav-bg border-black font-bold shadow-[5px_5px_0_#000];
}

.nav-link.active:hover {
  @apply bg-nav-bg border-black font-bold shadow-[0_0_0_#000] translate-x-[-5x] translate-y-[-5x];
}

.hero-icon {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-4px); }
}
